*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background: #f3f3f3;
    font-family: 'poppins', sans-serif;
}


.main{
    height: 109vh;
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit(350px,1fr));
    grid-gap: 20px 20px;
    }

.logo{
    background: #e84343;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}


img {
    display: block;
    margin: auto;
    width: 30%;
  }

  .par{
    text-align: center;
    font-size: x-large;
    text-decoration: none;
  }

.btt{
  background: #04AA6D; /* Green */
  border: none;
  color:#fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 12px;
  transition:  all .4s ease;
  font-size: xx-large;
}

.btt:hover{
  text-decoration: none;
    background-color: #000;
    transform: scale(1.1);
    box-shadow: #e84343;
}
button{
  text-decoration: none;
}

.Dance{
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}


.dance {
  position: relative;
}

.bouncing-image {
  width: 150px;
  height: auto;
  animation:b 2s infinite;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
  }
  100% {
      transform: translateY(0);
  }
}